body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0a0c1b;
}   

.container {
    background-color: white;
    position: absolute;
    width: 920px;
    height: 446px;
    right: 280px;
    top: 154px;
}

.innercontainer {
    position: absolute;
    background-color: #1c1938;
    width: 472px;
    height: 446px;
}

.img2 {
    position: absolute;
    right: 0px;
    width: 448px;
    height: 447px;
}

.text1 {
    font-size: 31px;
    color: white;
    text-align: left;
    margin-left: 27px;
    font-weight: 700;
}

.text2 {
    color: #8e58b8;
}

.text1-1 {
    padding: 2px;
    font-size: 18px;
    color: white;
    text-align: left;
    margin-left: 28px;
}

.zzzz {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.bold1 {
    color: white;
    font-size: 29px;
    font-weight: 700;
    line-height: 1.1;
}

.cbold{
    color: grey;
    font-size: 14px;
}

.btn1 {
    position: absolute;
    right: 830px;
    top: 540px;
}

.btntxt {
    font-size: 22px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 7px;
}

@media screen and (max-width: 750px)
{
    .container {
        font-size: 10px;
        background-color: white;
        position: absolute;
        width: 920px;
        height: 446px;
        right: 280px;
        top: 154px;
    }   
}